.root {
    -fx-font-size: 16px;
}

BorderPane {
    -fx-background-color: black;
}

.text-field {
    -fx-max-width: 350px;
    -fx-border-color: white;
    -fx-font-family: 'Press Start 2P', cursive;
}

.label {
    -fx-font-family: 'VT323';
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-padding: 0;
}

.form-header {
    -fx-font-family: 'Press Start 2P', cursive;
}

.form-button {
    -fx-max-width: 350px;
    -fx-font-family: 'VT323';
    -fx-font-size: 18px;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-cursor: hand;

}

.form-button:hover {

}

.form-button:pressed {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.error-label {
    -fx-text-fill: red;
}